* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("../public/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.container {
  width: 90vw;
  height: 90vh;
  position: relative;
  background: #2d426980;
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid #ffffff20;
  display: flex;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background: #111928e6;
}

/* Hide buttons by default */
.toggle-button {
  display: none;
}

@media (max-width: 1125px) {
  .toggle-button {
    display: block;
    position: fixed;
    top: -50px;
    left: -10px;
    margin: 10px; 
  }
}